@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using ControlSampleContract

@inject IControlContract controlContract

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p> The TextBox control loaded with reflection is called: @GetControlName()</p>

@code {
    private int currentCount = 0;
    
    RenderFragment GetControlName()
    {
        return @<em>@controlContract?.GetControlName()</em>;
    }
}

