@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using BaseInterfaces
@using LabelControl

@inject WebRender webRender

<PageTitle>Home</PageTitle>

@if (customInputFragment != null)
{
    @customInputFragment
}
else
{
    <p>Loading...</p>
}


@code {
    private int currentCount = 0;
    private RenderFragment customInputFragment;
    private List<dynamic> formelemlist = new List<dynamic>();

  

    protected override async Task OnInitializedAsync()
    {
        customInputFragment = await webRender.CreateControls();
    }
}

